// list of articles
.article-list{
	display: grid;
	grid-gap: 1.5rem;
	max-width: $w-small;
	margin: 2rem auto;
	grid-template-columns: 1fr;

	article{

		border: 2px solid $c-dark;
		.meta{
			text-transform: uppercase;
			color: $c-primary !important;
			font-family: $ff-primary;
		}
		.title{
			font-size: 24px;
			margin: 0;
			margin-top: .5rem;
			color: $c-dark;
		}
		p{ margin: 0;	}

		header{
			padding: 1rem;
			cursor: pointer;
			display: grid;
			grid-template-columns: repeat(2,1fr);
			grid-gap: 2rem;
			&:hover{
				background: $c-dark;
				*{ color: $c-white; }
			}
		}

	}


}