
html{
	font-size: 18px;
	font-size: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

body{
	font-family: $ff-text;
	font-size: 1rem;
	line-height: 1.65em;
	background: $c-bg;
}
.ff-primary{ font-family: $ff-primary; }
.ff-text{ font-family: $ff-text; }
.h1,h1,.h2,h2,.h3,h3,.h4,h4,.h5,h5,.h6,h6{
	font-family: $ff-primary;
	line-height: 1.15em;
	color: $c-primary;
}

a{
	text-decoration: none;
	color: $c-primary;
}

p{
	color: $c-text;
}

.wrapper{
	max-width: 1600px;
	padding: 0 $gap * 15;
	@media (max-width: $desktop) {
		padding: $gap;
	}
}