#hero{
  position: relative;

  .text *{
    color: $c-white;
    position: relative;
    z-index: 2;
  }
  .hero-img{
    box-shadow: 0 0 100px $c-primary;
    display: inline-block;
    padding: $spacer;
    img{
      opacity: .65;
    }
  }
}

#logos{
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba($c-white, .25) !important;
  img{
    max-height: 35px;
    filter: brightness(0) invert(1);
    &:not(:hover){
      opacity: .75;
    }
  }
}