nav{
	height: $gap * 7;
	margin-bottom: -1 * $gap * 7;
	padding: 0 $gap * 4;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: $c-bg;
	.logo{
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1rem;
		color: $c-secondary;
		font-family: $ff-primary;
	}
	ol{
		display: flex;
		align-items: center;
		counter-reset: item;
		font-size: $fs-small;
		li{
			list-style: none;
			counter-increment: item;
			padding: $gap;
			a{
				&:before{
					content: "0" counter(item) ".";
					color: $c-secondary;
					margin-right: $gap * 0.5;
				}
				color: $c-primary;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: $ff-text;
				font-weight: bold;
				border-bottom: 1px solid transparent;
				&:hover{
					border-bottom: 1px solid $c-secondary;
				}
			}
		}
	}
}