// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,700;1,400&display=swap');
@import url('/font/css/satoshi.css');

// $ff-text: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
// $ff-primary:  "Work Sans", "Bai Jamjuree", sans-serif;
$ff-primary:  'Satoshi-Variable', sans-serif;
$ff-text: $ff-primary;

$fs-small: 12px;

$c-primary: #4668c6;
$c-secondary: lighten($c-primary,20%);
$c-dark: #1e2d47;
$c-text: #525252;
$c-bg: #f3f9fc;
$c-white: #fff;
$c-light: $c-bg;
$c-border: #233554;

$w-xsmall: 600px;
$w-small: 1024px;
$w-normal: 1140px;
$gap: 10px;
$desktop: 1200px;

$transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

$theme-colors: (
  "primary":    $c-primary,
  "secondary":  $c-secondary,
  "dark":    		darken($c-dark,5%),
  "text":       $c-text,
  "bg":    			$c-bg,
  "white":     	$c-white,
  "light":      $c-bg,
);

//BS
$link-color: $c-primary;
$link-decoration: none;

$font-family-base: $ff-text;
$headings-font-family: $ff-primary;
$headings-font-weight: 700;

$h1-font-size: 4.25rem;
$h2-font-size: 4rem;
$h3-font-size: 3rem;
$h4-font-size: 2rem;

$card-border-width: 0;
$card-border-radius: 0;
$card-color: $c-white;
$card-bg: $c-dark;

$box-shadow: 0 .5rem 1rem rgba($c-dark, .075);

$container-max-widths: ( xxl: 1320px );

$navbar-padding-y: 1rem;
$navbar-toggler-padding-y:     .25rem;
$navbar-toggler-padding-x:     .75rem;
$navbar-toggler-font-size:     1rem;
$navbar-toggler-focus-width:   0;
$navbar-toggler-transition:    box-shadow .15s ease-in-out;

@import "~bootstrap/scss/bootstrap";

@import "post";
@import "blocks";
@import "defaults";
